<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#process_input').bind('click', function() {
				$.getJSON('/background_process', {
				  proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
        </script>
        
    </head>
    <body class="gameDisplay">
        <header class="game" >
            <p class="text">{{ mode }} | {{ points }}</p>
        </header>
        <table class="display">
            <tr class="row1"><th class="playerName1">Player1</th><th class="playerName2">Player2</th></tr>
            <tr class="row2"><th id="result" class="playerPoints1">{{ points }}</th><th class="playerPoints2">{{ points }}</th></tr>
            <tr class="row3"><th class="playerAverege1">45.0</th><th class="playerAverege2">45.0</th></tr>
        </table>
        <div class="displaybuttons">
            <div class="buttons">
            <form class="formular-zahlen" method="GET" action="/game">
            <button class="bo">DOUBLE</button><button class="bo">TRIPLE</button>
            <a href="#" id="process_input"><button name="eins" type="button" id="process_input">1</button><button class="">2</button></a><button class="">3</button></a>
            <a href="#" id="process_input"><button class="">4</button></a><a href="#" id="process_input"><button class="">5</button></a><button class="">6</button></a>
            <a href="#" id="process_input"><button class="">7</button></a><a href="#" id="process_input"><button class="">8</button></a><button class="">9</button></a>
            <a href="#" id="process_input"><button class="">10</button></a><a href="#" id="process_input"><button class="">11</button></a><button class="">12</button></a>
            <a href="#" id="process_input"><button class="">13</button></a><a href="#" id="process_input"><button class="">14</button></a><button class="">15</button></a>
            <a href="#" id="process_input"><button class="">16</button></a><a href="#" id="process_input"><button class="">17</button></a><button class="">18</button></a>
            <a href="#" id="process_input"><button class="">19</button></a><a href="#" id="process_input"><button class="">20</button></a><button class="">BULL</button></a>
            <a href="#" id="process_input"><button class="bo">DANEBEN</button></a><a href="#" id="process_input"><button class="bo">UNDO</button></a>
            </form>
            </div>
        </div>
    </body>
</html>